*{
  padding: 0;
  margin: 0;
}
body{
  background-image: linear-gradient(120deg,black,rgb(41, 0, 0),black,black,black,rgb(41, 0, 0),black,black,black,rgb(41, 0, 0),black,black,black,rgb(41, 0, 0),black,black,black,rgb(41, 0, 0),black,black,black,rgb(41, 0, 0),black,black);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 100%;
}

.content{
  width: 35%;
  height: 500px;
  position: relative;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.126);
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  color: white;
}
.indexs{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 20px 5px;
  width: 90%;
  position: fixed;
  top: 15%;
}

.indexs a{
  position: relative;
  font-size: 40px;
  color: black;
  text-decoration: none;
  transition: all .2s ease-out;
}
.indexs a::after{
  content: '';
  position: absolute;
  width: 50px;
  aspect-ratio: 1/1;
  box-shadow: 0 0 20px 20px rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  left: 20%;
  background-color:rgba(255, 255, 255, 0.2) ;
  scale: 5;
  z-index: -1;
  filter: blur(3px);
  opacity: 0;
}
.indexs #alogin::after{
  left: -700px;
  top: 0px;
  animation: one 80s linear infinite;
}
@keyframes one{
  5%{opacity: 1;}
  20%{transform: translateY(100px);}
  40%{transform: translateY(200px) translateX(100px);}
  60%{transform: translateY(300px) translateX(-0px);}
  80%{transform: translateY(-300px) translateX(-100px);}
}
.indexs #asinge::after{
  left: 400px;
  top: 300px;
  animation: two 80s linear infinite;
}
@keyframes two{
  5%{opacity: 1;}
  20%{transform: translateY(-100px);}
  40%{transform: translateX(-200px) translateY(100px);}
  60%{transform: translateX(-300px) translateY(200px);}
  80%{transform: translateX(-200px) translateY(100px);}
}








.login{
  position: relative;
  width: 500px;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s linear;
}
.login-form{
  position: relative;
  width: 100%;
  height:100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
input{
  padding: 10px 5px;
  width: 90%;
  position: relative;
  background-color: transparent;
  border: none;
  border-bottom: 3px solid black;
  outline: none;
  font-size: 18px;
  transform: translateY(-20px);
  color: white;
}
 label{
  transform: translateX(-150%);
  position: absolute;
  z-index: 2;
  font-size: 20px;
  transition: all .2s ease-out;
  pointer-events: none;
  opacity: .3;
}
.login-form label.user-name{
  transform: translateX(-150%);
  top: 14%;
  z-index: 2;
  font-size: 20px;

}
.login-form label.user-password{
  top: 35%;
  transform: translateX(-170%);
}

input.user-name:focus +label.user-name{
  top: 8%;
  transform: translateX(-180%);
  opacity: .8;
}
input.user-password:focus +label.user-password{
  top: 29%;
  transform: translateX(-200%);
  opacity: .8;
}

.check {
  position: relative;
  top: 0;
  left: -35%;
  height: 20px;
  width: 20px;
  background: black;
  border-radius: 10px;
  transition: all .25s ease-out;
}
.login p{
  top: 54.5%;
  left: 20%;
}
.btn-login{
  padding: 10px 45px;
  border-radius: 30px;
  outline: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  font-weight: 700;
  transition: all .2s linear;
  background-color: transparent;
  border: 2px solid black;
  
}
.btn-login:hover{
  background-color: black;
  box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.24);
  color: white;
}
.btn-login:active{
  scale: .9;
}
.forget{
  scale: 1;
  color: white;
  font-weight: 100;
}
.forget:hover{
  color: rgb(0, 0, 129);
}







.new-user{
  position: absolute;
  width: 500px;
  height: 80%;
  left: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 3%;
  transition: all .3s linear;
}
.Singe{
  position: relative;
  width: 100%;
  height:100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
.Singe label{
  position: absolute;
}
label.full-name {
  top: 8%;
  transform: translateX(-180%);
}
label.new-user-name{
  top: 28%;
  transform: translateX(-170%);
}
label.new-user-password{
  top: 48%;
  transform: translateX(-190%);
}
.Singe p{
  top: 68.5%;
  left: 20%;
}
.btn-singe{
  padding: 10px 45px;
  border-radius: 30px;
  outline: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  font-weight: 700;
  transition: all .2s linear;
  background-color: transparent;
  border: 2px solid black;
  
}
.btn-singe:hover{
  background-color: black;
  box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.24);
  color: white;
}
.btn-singe:active{
  scale: .9;
}

input.full-name:focus +label.full-name{
  transform: translateX(-200%) translateY(-30px);
  opacity: .8;
}
input.new-user-name:focus +label.new-user-name{
  transform: translateX(-190%) translateY(-30px);
  opacity: .8;
}
input.new-user-password:focus +label.new-user-password{
  transform: translateX(-210%) translateY(-30px);
  opacity: .8;
}
.new-user h2{
  position: absolute;
  top: 0;
  padding: 7px 30px;
  font-size: 15px;
  font-weight: 100;
  pointer-events: none;
  opacity: 0;
  transition: opacity .8s ease-in-out .8s;
  border-radius: 30px;

}
#h22{
  position: absolute;
  top: 15px;
  padding: 7px 30px;
  font-size: 15px;
  font-weight: 100;
  pointer-events: none;
  opacity: 0;
  transition: opacity 2s ease-in-out .8s;
  border-radius: 30px;

}
#welcoom{
  position: absolute;
  width: 0%;
  height: 320px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(30px);
  z-index: 3;
  pointer-events: all;
  opacity: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  font-size: 25px;
  overflow: hidden;
  transition: all .3s ease-out;

}
#welcoom h3{
  position: relative;
  top: 20%;
  opacity: 0;
}
.login #welcoom #in{
  color: green;
  font-size: 90px;
  font-weight: 900;
  position: absolute;
  top: 20%;
  opacity: 0;
  scale: .6;
}
.login #welcoom #out{
  color: red;
  font-size: 90px;
  font-weight: 900;
  position: absolute;
  top: 20%;
  opacity: 0;
  scale: .6;
}
.login #welcoom #loding{
  color: gray;
  font-size: 70px;
  font-weight: 900;
  position: absolute;
  top: 20%;
  opacity: 1;
  animation: spine 1s linear infinite;
}
@keyframes spine{
  0%{transform: rotate(0deg);opacity: 1;}
  50%{opacity: .5;}
  100%{transform: rotate(360deg);opacity: 1;}
}






@media (max-width:1422px){
  .new-user{
    position: absolute;
    width: 500px;
    height: 80%;
    left: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 3%;
    transition: all .3s linear;
    transform: translateX(-15px);
  }
}

@media (max-width:1367px){
  .new-user{
    position: absolute;
    width: 500px;
    height: 80%;
    left: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 3%;
    transition: all .3s linear;
    transform: translateX(-25px);
  }
}

@media (max-width:1200px){
  .login-form label.user-name{
    transform: translateX(-120%);
    top: 14%;
    z-index: 2;
    font-size: 20px;
  
  }
  .login-form label.user-password{
    top: 35%;
    transform: translateX(-140%);
  }
  input.user-name:focus +label.user-name{
    top: 8%;
    transform: translateX(-150%);
    opacity: .8;
  }
  input.user-password:focus +label.user-password{
    top: 29%;
    transform: translateX(-170%);
    opacity: .8;
  }
}

@media (max-width:1247px){
  .Singe{
    width: 90%;
  }
  .new-user{
    position: absolute;
    width: 500px;
    height: 80%;
    left: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 3%;
    transition: all .3s linear;
    transform: translateX(-45px);
  }
  label.full-name {
    top: 8%;
    transform: translateX(-150%);
  }
  label.new-user-name{
    top: 28%;
    transform: translateX(-140%);
  }
  label.new-user-password{
    top: 48%;
    transform: translateX(-160%);
  }
  input.full-name:focus +label.full-name{
    transform: translateX(-170%) translateY(-30px);
    opacity: .8;
  }
  input.new-user-name:focus +label.new-user-name{
    transform: translateX(-160%) translateY(-30px);
    opacity: .8;
  }
  input.new-user-password:focus +label.new-user-password{
    transform: translateX(-180%) translateY(-30px);
    opacity: .8;
  }
}

@media (max-width:1051px){
  .Singe{
    width: 75%;
  }
  .new-user{
    position: absolute;
    width: 500px;
    height: 80%;
    left: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 3%;
    transition: all .3s linear;
    transform: translateX(-85px);
  }
  label.full-name {
    top: 8%;
    transform: translateX(-110%);
  }
  label.new-user-name{
    top: 28%;
    transform: translateX(-100%);
  }
  label.new-user-password{
    top: 48%;
    transform: translateX(-120%);
  }
  input.full-name:focus +label.full-name{
    transform: translateX(-130%) translateY(-30px);
    opacity: .8;
  }
  input.new-user-name:focus +label.new-user-name{
    transform: translateX(-120%) translateY(-30px);
    opacity: .8;
  }
  input.new-user-password:focus +label.new-user-password{
    transform: translateX(-140%) translateY(-30px);
    opacity: .8;
  }
}
@media (max-width:600px){
  .content{
    scale: 2;
  }
  .indexs{
    top: -3%;
  }
  #h2{
    top:-2%
  }
}